*.egg
*.egg-info/
*.py[cod]
*.so
.Python
.cache
.coverage
.idea/
.installed.cfg
.pytest_cache/
.python-version
.venv/
.vscode/
/target
__pycache__/
bin/
build/
coverage.xml
develop-eggs/
dist/
eggs/
env/
include/
lib/
lib64/
man/
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-selfcheck.json
sdist/
var/
venv/
